.widget_airliners_widget font {
    color: #555 !important;
}

.widget_airliners_widget table, td, th {
    background-color: transparent !important;
    border: 0px !important; /* for example, if your theme enforces border on tables, you can override it like that */
}
